.nav-selected {
    background-color: #70A9A1;
}

.nav-item:hover {
    background-color: #143e4d;
}

.premium-signup {
    color: #ac1b1b !important;
}

#sidebar {
    background-color: #0B2027;
    min-width: 15em;
}

#sidebar-nav{
    height:100vh;
    box-sizing: border-box;
}

.nav-link{
    padding-left:1.5em;
}

.nav-link:not(.premium-signup):not(.nav-selected){
    color: #bbc4cb!important;
}

.sidebar-profile-thumbnail{
    object-fit: cover;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    overflow: hidden;
}
