.nav-selected {
    background-color: #70A9A1;
}

.nav-item:hover {
    background-color: #143e4d;
}

.premium-signup {
    color: red !important;
}

#sidebar {
    background-color: #0B2027;
    min-width: fit-content;
}

#sidebar-nav{
    height:100vh;
    box-sizing: border-box;
}
