.header {
    background-color: #0B2027;
    min-height: 5vh;
    display: flex;
    color: white;
}

.App-link {
    color: #61dafb;
}

#header-container {
    max-width: 85%;
}

#navbar {
    color: #0B2027
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
