.header {
    background-color: #0B2027;
    max-height: 5vh;
    display: flex;
    color: white;
}

.App-link {
    color: #61dafb;
}

#navbar {
    color: #0B2027
}

#header-container{
    max-width: 70%;
}

#sidebar {
    background-color: #40798C;
    height: 100vh;
    min-width: fit-content;
}

#login-box {
    height:fit-content!important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #52a89c !important;
    border-color: #52a89c !important;
}

button:hover {
    background-color: #44b8a7 !important;
}

a:link, a:active, a:hover, a:visited {
    color: #52a89c
}

.nav-link {
    color: white !important;
}

.nav-selected {
    background-color: #70A9A1;
}

.nav-item {
    width:100%;
}

.welcome-title, .welcome-heading {
    text-align: center;
}




