.header {
    background-color: #0B2027;
    max-height: 5vh;
    display: flex;
    color: white;
}

.App-link {
    color: #61dafb;
}

#header-container, #app-container {
    max-width: 85%;
}

#navbar {
    color: #0B2027
}


.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #52a89c !important;
    border-color: #52a89c !important;
}

button:hover {
    background-color: #44b8a7 !important;
}

a:link, a:active, a:hover, a:visited {
    color: #52a89c
}




